*{
    margin: 0;
    padding: 0;

}

.container{
background-color: rgb(163, 152, 152);
height: 100vh;
}
h1{
    background-color: rgb(151, 78, 78);
    text-align: center;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    margin: 10px 3px;
}
.data {
    display: flex;
   justify-content: space-around;
align-items: center;
    
}

li{
    list-style: none;
    line-height: 25px;
    font-weight: bold;
    color: white;
        
}
img{
    border: solid white;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}


p{
    background-color: rgb(132, 70, 48);
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 10px 3px;
}
